/.metadata/

projects/DepartmentCommerce/backend/.idea/misc.xml

projects/course-docker-kubernetes/.idea/workspace.xml

projects/DepartmentCommerce/backend/.idea/workspace.xml

projects/course-docker-kubernetes/.idea/misc.xml

projects/course-docker-kubernetes/.idea/workspace.xml

projects/DepartmentCommerce/backend/.idea/workspace.xml

projects/DepartmentCommerce/backend/.idea/

projects/course-docker-kubernetes/.idea/

projects/course-docker-kubernetes/ide-bruno/
