<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1 th:text="${title}"></h1>
<table>
<thead>
 <tr>
    <th>id</th>
    <th>nombre</th>
    <th>precio</th>
    <th>fecha</th>
 </tr>

</thead>
<tbody>
  <tr th:each="item : ${productos}">
       <td th:text="${item.id}"></td>
       <td th:text="${item.nombre}"></td>
       <td th:text="${item.precio}"></td>
       <td th:text="${item.createAt}"></td>
     </tr>
</tbody>
</table>


</body>
</html>