<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticación de Usuario</title>
    <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    #auth-link {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 4px;
    }

    #auth-link:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<div>
    <table>
        <tr>
            <td>Usuario</td>
            <td th:text="${username}"></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td th:text="${lastName}"></td>
        </tr>
    </table>
    <p>Para autenticar, haz clic en el siguiente enlace:</p>
    <a href="${url_link}" id="auth-link">Autenticar</a>
</div>

</body>
</html>